body {
    font-family: 'Montserrat', sans-serif;
}

.batalha {
    width: 700px;
    height: 560px;
    margin: auto;
}

body::before {
    content: '';
    background: radial-gradient(black 33%, transparent 33%);
    background-size: 3px 3px;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    z-index: -1;
}

.campo-luta {
    background: url(../../../assets/imagem/campoBatalha.png);
    background-size: contain;
    height: 395px;
    overflow: hidden;
}

.barra-versus {
    display: flex;
    justify-content: space-between;
}

.barra-competidor, .barra-oponente{
    width: 250px;
    height: 40px;
    margin: 20px auto auto auto;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.icon-pokemon-batalha{
    height: 30px;
    margin: 2px 2px;
    float: left;
    border: 2px solid white;
    border-radius: 10px;
}

.div-barra-hp{
    background-color: rgba(0, 0, 0, 0.274);
    height: 20px;
    float: left;
    width: 202px;
}

.conteiner-barra-hp{
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid black;
    border-radius: 4px;
    width: 150px;
    height: 10px;
    margin: 5px auto 5px;
    padding-right: 2px;
}

.barra-hp-competidor, .barra-hp-oponente {
    background: green;
    border: 1px solid white;
    border-radius: 4px;
    height: 8px;
    width: 148px;
    margin: auto auto auto 0;
    transition: 1s;
}
.info-barra-batalha{
    display: inline-block;
    background-color: rgba(78, 78, 78, 0.815);
    width: 202px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    
}

.info-barra-batalha span{
    color: white;
    font-size: 13px;
    margin: auto;
}

.oponente-batalha {
    width: 250px;
    height: 250px;
    margin-top: 50px;
    margin-left: 40px;
    float: left;
}

.competidor-batalha {
    display: block;
    width: 350px;
    height: 350px;
    margin: 70px 0 0 40px;
    float: left;
}

.img-competidor {
    width: 350px;
    height: 350px;
    display: inline-block
}

.img-oponente {
    width: 250px;
    height: 250px;
    display: inline-block
}

.acoes {
    display: flex;
    justify-content: space-between;
    background:url(../../../assets/imagem/background3.jpg);
    background-size: contain;
    overflow: hidden;
    height: 160px;
    border: 1px solid black;
}
.acoesDosBotoes {
    width: 85%;
    padding-right: 17.5px;
    display: flex;
}
.div-info-batalha {
    background-color: rgba(255, 255, 255, 0.637);
    display: inline-block;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    width: 40%;
    height: 100%;
    position: relative;
 }

 .info-batalha {
     width: 80%;
     height: 100%;
     position: relative;
     padding: 50px 10px;
}

.div-info-batalha span {
    font-size: 20px;
}

.lista-acoes-competidor {
    width: 60%;
}

.lista-pokemons-batalha {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    gap: 8px;
}

.lista-pokemons-batalha button {
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 15px;
    border: none;
    display: flex;
    width: 180px;
    height: 45px;
    padding: auto;
    cursor: pointer;
    transition: 300ms;
}

.pokemonCompetidor-active {
    background: rgba(51, 51, 51, 0.8) !important;
    color: white;
}

.pokemonSemVida {
    opacity: 0.7;
    cursor: not-allowed;
    pointer-events: none;
}

.lista-pokemons-batalha button:hover {
    background-color: rgba(126, 126, 126, 0.8);
}

.icone-pokemon-conteiner {
    margin: auto 0 auto -5px;
}

.nome-hp-nv-conteiner {
    width: 130px;
}

.nome-sexo-tipo-pokemon {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-bottom: 3px;
}

.icone-sexo {
    width: 15px;
    height: 15px;
}

.barra-hp-pokemon {
    background: green;
    border-radius: 4px;
    height: 5px;
    width: 100%;
    margin: auto auto 2px 0;
    transition: 1s;
}

.icone-tipos-pokemon img {
    width: 12px;
    height: 12px;
}

.pp-lv {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
}


.acoes-competidor {
    display: inline-block;
    width: 15%;
    margin: auto;
}

.mensagem-itens {
    width: 30%;
    padding: 12px 5px 10px 10px;
}

.mensagem-captura-conteiner { 
    padding: 10px 5px 10px 10px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    border: 5px solid rgba(255, 255, 255, 0);
    outline: 2px solid white;
}

.mensagem-captura {
    text-shadow: rgb(85, 85, 85) 1px 1px;
    font-size: 15px;
    width: 140px;
}

.botoes-capturar-cancelar {
    margin-top: 10px;
    width: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.botoes-capturar-cancelar button {
    width: 80px;
    background: rgba(255, 255, 255);
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 20px
}

.botoes-capturar-cancelar button:hover {
    background: rgba(255, 17, 0, 0.5);
    color: white;
}

.itens-conteiner {
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
    justify-content: right;
    width: 70%;
    padding: 10px;
}

.item {
    position: relative;
    width: 54px;
    height: 52px;
    font-size: 15px;
    border: 1px solid black;
    border: 1px solid black;
    border: none;
    border-bottom: 2px solid black;
}

.item button {
    background: rgba(26, 26, 26, 0.7);
    border: none;
    width: 48px;
    height: 48px;
    clip-path: circle(50% at 50% 50%);
    margin: 3px 0 0 4px;
    cursor: pointer;
}

.pokebola-active {
    background: white !important;
}

.item button:hover {
    opacity: 0.7;
}

.item img {
    width: 25px;
    height: 25px;
}

.item span {
   position: absolute;
   bottom: 0;
   right: 2px;
   color: white;
   text-shadow: black 1px 1px;
}

.acoes-competidor button {
    background-color: rgba(146, 146, 146, 0.705);
    font-weight: bolder;
    font-size: 12px;
    text-transform: uppercase;
    border: none;
    width: 95px;
    margin-top: 5px;
    margin-bottom: 8px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid black;
    transition: 0.3s;
    cursor: pointer;
}

.acoes-competidor button:hover {
    background-color: rgba(224, 97, 97, 0.726);
    transform: scale(1.05);
}

.icon-pikachu {
    width: 15px;
    height: 15px;
    margin-top: -3px;
}

.botoes-ataques {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 12px 25px 0 0;
    gap: 20px;
    justify-content: right;
}

.botoes-ataques button{
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 15% 100%, 0% 50%);
    padding: 5px 1px 5px 25px;
    width: 138px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.botoes-ataques img {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: 6px solid white;
    margin-top: -3px;
    outline: 1px solid black;
    transition: 0.3s;
}

.agua-color-ataque {
    background-color: rgba(33, 101, 247, 0.75);
}

.dragão-color-ataque {
    background-color: rgba(69, 69, 197, 0.75);
}

.elétrico-color-ataque {
    background-color: rgba(212, 212, 8, 0.75);
}

.fada-color-ataque {
    background-color: rgba(241, 125, 212, 0.75);
}

.fantasma-color-ataque {
    background-color: rgba(109, 45, 182, 0.75);
}

.ferro-color-ataque {
    background-color: rgba(29, 102, 121, 0.75);
}

.fogo-color-ataque {
    background-color: rgba(250, 154, 65, 0.75);
}

.gelo-color-ataque {
    background-color: rgba(60, 178, 194, 0.75);
}

.inseto-color-ataque {
    background-color: rgba(136, 255, 0, 0.75);
}

.luta-color-ataque {
    background-color: rgba(218, 60, 60, 0.75);
}

.normal-color-ataque {
    background-color: rgba(116, 116, 116, 0.75);
}

.pedra-color-ataque {
    background-color: rgba(219, 164, 80, 0.75);
}

.planta-color-ataque {
    background-color: rgba(38, 141, 38, 0.75);
}

.psiquico-color-ataque {
    background-color: rgba(255, 101, 101, 0.75);
}

.sombrio-color-ataque {
    background-color: rgba(75, 75, 75, 0.75);
    color: white;
}

.terra-color-ataque {
    background-color: rgba(248, 94, 38, 0.75);
}

.veneno-color-ataque {
    background-color: rgba(128, 0, 128, 0.75);
    color: white;
}

.voador-color-ataque {
    background-color: rgba(83, 139, 211, 0.75);
}

.botoes-ataques span {
    margin-top: 2px;
}

.botoes-ataques button:hover {
    opacity: 0.8;
    cursor: pointer;
}